body {
  background: linear-gradient(to bottom, #00b4db, #0083b0), #0083b0;
  color: white;
  margin: 0;
  font-family: 'Quicksand', 'Roboto', sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
}
*{
  box-sizing: border-box;
  font-family: 'Quicksand', 'Roboto', sans-serif;
}

input, button, textarea{
  font-weight: bold;
  color: currentColor;
  outline: none !important;
  border: none;
  background: none;
}

main{
  background: none;
  animation: fadeIn 300ms;
  transition: opacity 200ms;
}

h3 {
  margin: 1em auto 0 auto;
  text-align: center;
  font-size: 1.2em;
}

h2 {
  margin: 0 0 0.5em;
  font-size: 1.7em;
  line-height: 0.8;
}

h1 {
  margin: 0.5em 0;
  line-height: 100%;
  font-size: 1.5em;
  text-align: center;
  flex-grow: 1;
}

header, .action-button {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 1em;
  height: 3em;
  z-index: 3;
  background-color: #fafafa;
  color: #16463d;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
}

button {
  margin: 0;
  cursor: pointer;
  background: none;
  padding: 0.5em;
  border: none;
  font-size: 1em;
}

svg {
  fill: currentColor;
}

.header-flex{
  display: flex;
  align-items: stretch;
}

.header-flex > button > img {
  height: 2em;
  margin: 0;
}

#players_input {
  padding: 0;
  flex-grow: 1;
  margin: 0 auto;
  font-size: 1em;
  background: none;
  border: none;
  line-height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}

#phrase_div, #phrase_form {
  min-height: 100vh;
  cursor: pointer;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#phrase_form {
  cursor: auto !important;
}

#phrase, #phrase-editable {
  font-size: 3em;
  margin: 0;
  text-align: center;
  padding: 0.2em;
  transition: transform 1000ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
#phrase-editable {
  font-size: 2em;
  padding: 0;
  outline: none !important;
  border: none !important;
}
.action-button {
  top: auto;
  bottom: 0;
  font-size: 1.25em;
  height: 2.4em;
  line-height: 1;
  cursor: pointer;
  box-shadow: 0 -0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
}

#help-div p{
  margin: 0.5em 0;
}
#help-div h2{
  font-size: 1.3em;
  margin: 1em 0 0.5em;
}
#help-div h2:first-child{
  margin: 0.5em 0;
}
#help-div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background-color: #f0f0f0;
  color: #16463d;
  padding: 4em 1em 1em;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
  transition: transform 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.cheveron-up {
  border: solid currentColor;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: translateY(10px) rotate(-135deg);
  cursor: pointer;
}

#prev_div {
  height: 100vh;
  width: 25vw;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3em;
  z-index: 1;
  background-color: none;
}

#down_vote_button{
  padding: 1.5em 1em 0.5em;
  right: 50vw;
}
#down_vote_button > span{
  right: 45%;
  bottom: 40%;
}

#up_vote_button{
  padding: 0.5em 1em 1.5em;
  left: 50vw;
}
#up_vote_button > span{
  top: 40%;
  left: 45%;
}

.vote-button{
  position: fixed;
  bottom: 0;
  z-index: 3;
  padding: 1em;
  border-radius: 50%;
  outline: none;
  transition: 200ms transform, 200ms opacity;
  /* animation: goUp 400ms, fadeIn 800ms; */
  line-height: 1;
  opacity: 0;
  transform: translateY(100%);
}

.vote-button > img{
  width: 4em;
}

.vote-button > span{
  position: absolute;
}

.topic-div p {
  margin: 0;
}

.topic-div ol {
  margin: 0;
  padding-left: 1.5em;
}

.topic-div ul {
  margin: 0;
  padding-left: 1.5em;
}

.chose-topics-div {
  padding-top: 3em;
  text-align: center;
}

.topics-div {
  margin: auto;
  padding: 1em;
  max-width: 80;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.topic-div {
  padding: 1em;
  box-shadow: 0 0.2em 1em 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  opacity: 0.95;
  color: #16463d;
  cursor: pointer;
  margin: 0.5em;
  flex: 1 0 0;
  flex-basis: 15em;
  transition: 100ms;
  position: relative;
  top: 0;
  z-index: 2;
  text-align: left;
}

.topic-div:hover {
  transform: scale(1.05);
}

.share-button {
  margin: 0.5em auto 1em auto;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5em;
  border-radius: 0.25em;
  padding: 0.25em;
  text-decoration: none;
  border-style: none;
  color: white;
  font-family: 'Quicksand', 'Roboto', sans-serif;
  box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: #16463d;
}

.noselect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes goUp {
  from {transform: translateY(100%);}
  to {transform: none;}
}
@keyframes goDown {
  from {transform: translateY(-100%);}
  to {transform: none;}
}
@keyframes nextPhrase {
  0%,100% {transform: none; opacity: 1;}
  50%  {transform: translateX(-100%); opacity: 0;}
  50.0000001%  {transform: translateX(100%); opacity: 0;}
  100% {transform: none; opacity: 1;}
}
@keyframes reloadPhrase {
  0%,100% {transform: none; opacity: 1;}
  50%  {transform: scale(0.15); opacity: 0;}
  50.0000001%  {transform: translateX(100%); opacity: 0;}
  100% {transform: none; opacity: 1;}
}
@keyframes errorPhrase {
  0%,100% {transform: none; opacity: 1;}
  50%  {transform: scale(0.15); opacity: 0;}
  50.0000001%  {transform: scale(3); opacity: 0;}
  100% {transform: none; opacity: 1;}
}
@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}